{% extends "layout.html" %}
{% from 'layout.html' import navbar, myscripts %}

{% block title %}LLIN.::.Settings{% endblock%}
{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/plugins/ol3/css/ol.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/ol_controls.css" type="text/css" />
    <style type="text/css">
        map {
            height: 500px;
            width: 100%;
            background-color: #b5d0d0;
        }
    </style>
{% endblock %}

{% block nav %}
    {% call navbar() %}

    {% endcall %}
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>District Coverage Map <i class="fa fa-map-marker"></i></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
					<div id="map" class="map">
                        <div class="ol3-bottom ol3-right">
                            <div class="ol3-control" id="">
                                <img src="/static/images/distribution.png">
                            </div>
                        </div>
                        <div class="ol3-top ol3-right">
                            <div class="ol3-control alert alert-info" id="">
                                <h3>District Statistics</h3>
                                <div id="overlay"></div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% call myscripts() %}
        <!-- Data Tables -->
		<script src="/static/js/plugins/ol3/js/ol.js"></script>
        <script src="/static/js/llin/map.js"></script>
    {% endcall %}
{% endblock %}


