{% extends "layout.html" %}
{% from 'layout.html' import navbar, myscripts %}

{% block title %}LLIN.::.Dashboard{% endblock%}
{% block stylesheets %}
    <!-- Data Tables -->
    <link href="/static/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% call navbar() %}

    {% endcall %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5 class="m-b-md">Total Nets (Bales)</h5>
                <h2 class="text-navy"> {{ total_nets.total }}</h2>
                <small>All nets received in the country</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5 class="m-b-md">Nets Distributed to Subcounties</h5>
                <h2 class="text-navy">{{ sc_dist }}</h2>
                <small>All nets distrinuted to subcounties</small>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5 class="m-b-md">Sub Counties Distributed to.</h5>
                <h2 class="text-navy">{{ sc_count }}</h2>
                <small>All districts</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5 class="m-b-md">Sent Messages</h5>
                <h2 class="text-navy">10</h2>
                <small>All SMS Sent </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {% call myscripts() %}
        <!-- Data Tables -->
        <script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.responsive.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.tableTools.min.js"></script>

        <script src="/static/js/plugins/bootstrap-validator/dist/validator.min.js"></script>
        <script src="/static/js/llin/dpoints.js"></script>
        <script>
           $(document).ready(function() {
            $('.dataTables-example').DataTable({
                "dom": 'lTfigt',
                "tableTools": {
                    "sSwfPath": "/static/js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                }
            });

        });
        </script>
    {% endcall %}
{% endblock %}


