{% extends "layout.html" %}
{% from 'layout.html' import navbar, myscripts, err, busted %}

{% block title %}LLIN.::.Dispatch{% endblock%}
{% block stylesheets %}
    <!-- Data Tables -->
    <link href="/static/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
    <link href="/static/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
    <link href="/static/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="/static/js/plugins/Buttons-1.1.2/css/buttons.dataTables.min.css" rel="stylesheet">

    <!-- Sweet Alert -->
    <link href="/static/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% call navbar() %}

    {% endcall %}
{% endblock %}

{% block content %}
    {% if ses.role in ('Administrator', 'Warehouse Manager') or ses.can_view_warehouse or ses.can_manage_warehouse %}
    {{ err(ses.ddata_err)}}

    {% if ses.can_manage_warehouse %}
    <form role="form" method="post" action="" class="form-horizontal" data-toggle="validator">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
            <!-- LEFT -->
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Dispatch<small> distribute to subcounties</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="form-group"><label for="district" class="col-lg-3 control-label">District:</label>
                                    <div class="col-lg-9">
                                        <select name="district" id="district" class="form-control" required>
                                            <option value="">Select District</option>
                                            {% for d in districts %}
                                                <option value="{{ d.id}}" {% if d.id == district.id %} selected="yes" {% endif %}>{{ d.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label for="subcounty" class="col-lg-3 control-label">Subcounty:</label>
                                    <div class="col-lg-9">
                                        <select name="subcounty" id="subcounty" class="form-control" required>
                                            <option value="">Select Sub County</option>
                                            {% for s in subcounties %}
                                            <option value="{{ s.id }}" {% if s.id == subcounty %} selected="yes" {% endif %}>{{ s.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group"><label for="release_order" class="col-lg-3 control-label">Release Order:</label>
                                    <div class="col-lg-9">
                                        <input name="release_order" id="release_order" type="text" value="{{ release_order }}" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group"><label for="waybill" class="col-lg-3 control-label">Waybill:</label>
                                    <div class="col-lg-9">
                                        <input name="waybill" id="waybill" type="text" value="{{ waybill }}" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group"><label for="quantity_bales" class="col-lg-3 control-label">Quantity (Bales):</label>
                                    <div class="col-lg-9">
                                        <input name="quantity_bales" id="quantity_bales" type="number" value="{{ quantity_bales }}" class="form-control" required/>
                                        {% if allow_edit %}
                                        <input name="quantity_bales_old" id="quantity_bales_old" type="hidden" value="{{ quantity_bales }}" class="form-control" required/>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group"><label for="remarks" class="col-lg-3 control-label">Remarks:</label>
                                    <div class="col-lg-9">
                                        <textarea name="remarks" id="remarks" type="text"  class="form-control">{{ remarks}}</textarea>
                                    </div>
                                </div>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END LEFT -->
            <!-- RIGHT -->
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Dispatch<small> distribute to subcounties</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="form-group"><label for="warehouse" class="col-lg-5 control-label">Warehouse:</label>
                                    <div class="col-lg-7 input-group">
                                        <select name="warehouse" id="warehouse" class="form-control" required>
                                            <option value="">Select Warehouse</option>
                                            {% for w in warehouses %}
                                                <option value="{{ w.id}}" {%if w.id == warehouse %}selected="yes"{% endif%}>{{ w.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label for="warehouse_branch" class="col-lg-5 control-label">Warehouse Branch:</label>
                                    <div class="col-lg-7 input-group">
                                        <select name="warehouse_branch" id="warehouse_branch" class="form-control" required>
                                            <option value="">Select Warehouse Branch</option>
                                            {% for b in branches %}
                                                <option value="{{ b.id}}" {%if b.id == warehouse_branch %}selected="yes"{% endif%}>{{ b.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group"><label for="departure_date" class="col-lg-5 control-label">Departure Date:</label>
                                    <div class="col-lg-7 input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input name="departure_date" id="departure_date" type="text" value="{{ departure_date }}"
                                        placeholder="YYYY-MM-DD" readonly class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group"><label for="departure_time" class="col-lg-5 control-label">Departure Time:</label>
                                    <div class="col-lg-7 input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                                        <span class="input-group-addon">
                                            <span class="fa fa-clock-o"></span>
                                        </span>
                                        <input name="departure_time" id="departure_time" type="text" value="{{ departure_time}}"
                                            readonly class="form-control">
                                    </div>
                                </div>
                                <div class="form-group"><label for="driver" class="col-lg-5 control-label">Driver Name:</label>
                                    <div class="col-lg-7 input-group">
                                        <input name="driver" id="driver" type="text" value="{{ driver }}" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group"><label for="driver_tel" class="col-lg-5 control-label">Driver Telephone:</label>
                                    <div class="col-lg-7 input-group">
                                        <input name="driver_tel" id="driver_tel" type="text" value="{{ driver_tel }}"
                                        maxlength="13" placeholder="256782XXXXXX" pattern="^\+?256(3[19]|41|7[015789])[0-9]{7}$" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group"><label for="no_plate" class="col-lg-5 control-label">Track No. Plate:</label>
                                    <div class="col-lg-7 input-group">
                                        <input name="track_no_plate" id="track_no_plate" type="text" value="{{ track_no_plate }}"
                                        maxlength="7" pattern="^[a-zA-Z0-9]{7}$" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-5 col-lg-7">
                                        {% if allow_edit %}
                                            <button class="btn btn-sm btn-primary" type="submit">Update Dispatch</button>
                                        {% else %}
                                            <button class="btn btn-sm btn-primary" type="submit">Dispatch</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END RIGHT-->
        </div>
    </form>
    {% endif %}
    <!-- DATA TABLE -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Distribution Log</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>District</th>
                                    <th>Sub County</th>
                                    <th>Quantity (Bales)</th>
                                    <th>Waybill</th>
                                    <th>Departure Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in distribution_log %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ d.district }} </td>
                                        <td>{{ d.destination }}</td>
                                        <td>{{ d.quantity_bales }}</td>
                                        <td>{{ d.waybill }}</td>
                                        <td>{{ d.departure_date }}</td>
                                        <td>
                                            {% if d.is_received %}
                                                <span class="label label-primary"><i title="Received" class="fa fa-truck"></i> Received</span>
                                            {% else %}
                                                <span class="label label-danger"><i title="Received" class="fa fa-truck"></i> Not Received</span>
                                            {% endif%}
                                            &nbsp;&nbsp;
                                            {% if d.has_variance %}
                                                <span class="label label-danger"><i title="Variance" class="fa fa-question"></i> Has Variance</span>
                                            {% else %}
                                                <span class="label label-primary"><i title="Variance" class="fa fa-check"></i> No Variance</span>
                                            {% endif%}
                                        </td>
                                        <td>
                                            {% if ses.can_manage_warehouse %}
                                            <a href="/dispatch?ed={{ d.id }}" class="btn btn-info btn-xs" value={{ d.id }}>
                                                <i title="Edit" class="fa fa-edit"></i></a>
                                            &nbsp;&nbsp;
                                            <button class="btn btn-danger btn-xs delete_btn" id={{ d.id}}><i class="fa fa-trash-o"></i></button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-white btn-xs details_btn" id="{{d.id}}" data-toggle="modal"
                                                data-target="#myModal2">
                                                 <i title="Details" class="fa fa-list-alt"></i>
                                            </button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-white btn-xs sms_btn" id="{{d.id}}" data-toggle="modal"
                                                data-target="#myModal3">
                                                 <i title="SMS" class="fa fa-envelope-o"></i>
                                            </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATA TABLE -->
    <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Distribution Log Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="modal_res">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <form role="form" action="" method="post" id="form2" class="form-horizontal">
    <div class="modal inmodal" id="myModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Send SMS</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="modal_res2">
                    </div>
                    <div class="row">
                        <p>Send subcounty store manager and subcounty chief SMS to confirm receipt of nets</p>
                        <div class="form-group"><label for="remarks" class="col-lg-3 control-label">Inquiry SMS:</label>
                            <div class="col-lg-9">
                                <textarea name="sms" id="sms" type="text"  rows="4" class="form-control"></textarea>
                                <input type="hidden" name="to_subcounty" id="to_subcounty"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit" id="sendsms">Send</button>
                </div>
            </div>
        </div>
    </div>
    </form>
    {% else %}
        {{ busted() }}
    {% endif %}
{% endblock %}

{% block scripts %}
    {% call myscripts() %}
        <!-- Data Tables -->
        <script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.responsive.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.tableTools.min.js"></script>

        <script type="text/javascript" src="/static/js/plugins/Buttons-1.1.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/Buttons-1.1.2/js/buttons.flash.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/jszip.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/pdfmake.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/vfs_fonts.js"></script>
        <script type="text/javascript" src="/static/js/plugins/Buttons-1.1.2/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/Buttons-1.1.2/js/buttons.print.min.js"></script>

        <script src="/static/js/plugins/bootstrap-validator/dist/validator.min.js"></script>

        <!-- Sweet alert -->
        <script src="/static/js/plugins/sweetalert/sweetalert.min.js"></script>

        <!-- Clock picker -->
        <script src="/static/js/plugins/clockpicker/clockpicker.js"></script>

        <!-- Data picker -->
        <script src="/static/js/plugins/datapicker/bootstrap-datepicker.js"></script>

        <script src="/static/js/llin/dispatch.js"></script>
        <script src="/static/js/llin/dpoints.js"></script>
        <script>
           $(document).ready(function() {
            $('.dataTables-example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                pageLength: 25
            });

            $('.input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "yyyy-mm-dd"
            });

            $('.clockpicker').clockpicker();

            $('.delete_btn').click(function () {
                del_id = $(this).attr('id');
                table_row = $(this).closest('tr');
                swal({
                        title: "Are you sure?",
                        text: "Your will not be able to recover this data",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        cancelButtonText: "No, cancel plx!",
                        closeOnConfirm: false,
                        closeOnCancel: false },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.get(
                                '/dispatch',
                                {d_id: del_id, caller: 'api'},
                                function(data){
                                    if (data.message == "success"){
                                        /* remove row from table */
                                        table_row.remove();
                                    };
                                },
                                'json'
                            );
                            swal("Deleted!", "Distribution Log data has been deleted." + del_id, "success");
                        } else {
                            swal("Cancelled", "Distribution Log data details are safe :)", "error");
                            return false;
                        }
                    });
            });

        });
        </script>
    {% endcall %}
{% endblock %}


