{% extends "layout.html" %}
{% from 'layout.html' import navbar, myscripts %}

{% block title %}LLIN.::.Downloads{% endblock%}
{% block stylesheets %}
    <!-- Data Tables -->
    <link href="/static/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% call navbar() %}

    {% endcall %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title"><h5>Warehouse Log</h5></div>
			<div class="ibox-content">
				<div>
				<button class="btn btn-outline btn-success  dim" type="button"><i class="fa fa-download"></i></button><br/>
				<!--
				<button class="btn btn-outline btn-success  dim" type="button"><i class="fa fa-download"></i></button>
				-->
				</div>
				<small>Download for Nets received in warehouses</small>
			</div>
   		</div>
	</div>
    <div class="col-lg-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title"><h5>Locations CSV</h5></div>
			<div class="ibox-content">
				<div>
                    <!--
				    <button class="btn btn-outline btn-success  dim" type="button"><i class="fa fa-download"></i></button><br/>
                    -->
                    <button class="btn btn-outline btn-success  dim">
                    <a href="/api/v1/locations_csvendpoint"><i class="fa fa-download"></i></a>
                    </button>
				</div>
				<small>Administrative Units CSV download</small>
			</div>
   		</div>
	</div>
    <div class="col-lg-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title"><h5>Reporters</h5></div>
			<div class="ibox-content">
				<div>
                    <button class="btn btn-outline btn-success  dim">
                    <a href="/api/v1/reporters_xlendpoint"><i class="fa fa-download"></i></a>
                    </button>
				</div>
				<small>All Reporters Excel download</small>
			</div>
   		</div>
	</div>
    <div class="col-lg-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title"><h5>Subcounty Distribution Summary</h5></div>
			<div class="ibox-content">
				<div>
                    <button class="btn btn-outline btn-success  dim">
                    <a href="/api/v1/subcounty_disribution_summary"><i class="fa fa-download"></i></a>
                    </button>
				</div>
				<small>Totals Distributed Per Subcounty</small>
			</div>
   		</div>
	</div>
</div>

<div class="row">
    <div class="col-lg-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title"><h5>District Distribution Summary</h5></div>
			<div class="ibox-content">
				<div>
                    <button class="btn btn-outline btn-success  dim">
                    <a href="/api/v1/district_disribution_summary"><i class="fa fa-download"></i></a>
                    </button>
				</div>
				<small>Totals distributed per district from warehouse</small>
			</div>
   		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
    {% call myscripts() %}
        <!-- Data Tables -->
        <script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.responsive.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.tableTools.min.js"></script>

        <script src="/static/js/plugins/bootstrap-validator/dist/validator.min.js"></script>
        <script src="/static/js/llin/dpoints.js"></script>
        <script>
           $(document).ready(function() {
            $('.dataTables-example').DataTable({
                "dom": 'lTfigt',
                "tableTools": {
                    "sSwfPath": "/static/js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                }
            });

        });
        </script>
    {% endcall %}
{% endblock %}


