{% extends "layout.html" %}
{% from 'layout.html' import navbar, myscripts %}

{% block title %}LLIN.::.D-Points{% endblock%}
{% block stylesheets %}
    <!-- Data Tables -->
    <link href="/static/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% call navbar() %}

    {% endcall %}
{% endblock %}

{% block content %}
    <form role="form" class="form-horizontal" data-toggle="validator" action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
            <!-- LEFT -->
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Distribution Points<small> register distribution points</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="form-group"><label for="district" class="col-lg-3 control-label">District:</label>
                                    <div class="col-lg-9">
                                        <select name="district" id="district" class="form-control" required>
                                            <option value="">Select District</option>
                                            {% for district in districts %}
                                            <option value="{{ district.id}}">{{ district.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label for="subcounty" class="col-lg-3 control-label">Subcounty:</label>
                                    <div class="col-lg-9">
                                        <select name="subcounty" id="subcounty" class="form-control" required>
                                            <option value="">Select Sub County</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label for="villages" class="col-lg-3 control-label">Villages:</label>
                                    <div class="col-lg-9">
                                        <select name="villages" id="villages" multiple="multiple" class="form-control" required>
                                            {% if villages %}
                                            {% for v in villages %}
                                                <option value="{{ v.id }}">{{ v.name }}</option>
                                            {% endfor%}
                                            {% else %}
                                            <optgroup label="Parish A">
                                                <option value="">Village 1</option>
                                                <option value="">Village 2</option>
                                                <option value="">Village 3</option>
                                            </optgroup>
                                            <optgroup label="Parish B">
                                                <option value="">Village 4</option>
                                                <option value="">Village 5</option>
                                                <option value="">Village 6</option>
                                            </optgroup>
                                            <optgroup label="Parish C">
                                                <option value="">Village 7</option>
                                                <option value="">Village 8</option>
                                                <option value="">Village 9</option>
                                            </optgroup>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group"><label for="name" class="col-lg-3 control-label">Name:</label>
                                    <div class="col-lg-9">
                                        <input name="name" id="name" type="text" value="{{ name }}" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-10">
                                        <button class="btn btn-sm btn-primary" type="submit">Save Distribution Point</button>
                                    </div>
                                </div>
                                <!--
                                <div class="form-group"><label for="" class="col-lg-2 control-label"></label>
                                    <div class="col-lg-10">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                    </div>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END LEFT -->
        </div>
    </form>
    <!-- DATA TABLE -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Distribution Points</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Sub County</th>
                                    <th>Villages</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in dpoints %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ d.name }} </td>
                                        <td>{{ d.subcounty }}</td>
                                        <td>{{ d.villages }}</td>
                                        <td>
                                            <a href="/distributionpoints?ed={{ d.id }}" class="" value={{ d.id }}><i class="fa fa-edit"></i></a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a href="/distributionpoints?d_id={{d.id }}&page={{ page }}"  class="gwe" value={{ d.id }}>
                                                        <i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATA TABLE -->
{% endblock %}

{% block scripts %}
    {% call myscripts() %}
        <!-- Data Tables -->
        <script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.responsive.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.tableTools.min.js"></script>

        <script src="/static/js/plugins/bootstrap-validator/dist/validator.min.js"></script>
        <script src="/static/js/llin/dpoints.js"></script>
        <script>
           $(document).ready(function() {
            $('.dataTables-example').DataTable({
                "dom": 'lTfigt',
                "tableTools": {
                    "sSwfPath": "/static/js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                }
            });

        });
        </script>
    {% endcall %}
{% endblock %}


