{% extends "layout.html" %}
{% from 'layout.html' import navbar, myscripts %}

{% block title %}LLIN.::.Groups{% endblock%}
{% block stylesheets %}
    <!-- Data Tables -->
    <link href="/static/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% call navbar() %}

    {% endcall %}
{% endblock %}

{% block content %}
    <form role="form" method="post" action="" class="form-horizontal" data-toggle="validator">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
            <!-- LEFT -->
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Group Details<small></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="form-group"><label for="name" class="col-lg-3 control-label">Name:</label>
                                <div class="col-lg-9">
                                    <input name="name" id="name" type="text" value="{{ name }}" class="form-control"/>
                                </div>
                            </div>

                            <div class="form-group"><label for="descr" class="col-lg-3 control-label">Description:</label>
                                <div class="col-lg-9">
                                    <input name="descr" id="descr" type="text" value="{{ descr }}" class="form-control"/>
                                </div>
                            </div>
                            <!--
                            <div class="form-group">
                                <div class="col-lg-offset-3 col-lg-10">
                                    <button class="btn btn-sm btn-primary" type="submit">Save Group</button>
                                </div>
                            </div>
                            -->
                            <br/>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END LEFT -->

            <!-- RIGHT -->
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Group Permissions<small></small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="form-group"><label for="name" class="col-lg-5 control-label">Warehouse Management:</label>
                                <div class="col-lg-7">
                                <input type="checkbox" name="wread" value="r" id="wread"> Read &nbsp; &nbsp; &nbsp;
                                <input type="checkbox" name="wmodify" value="w" id="wmodify"> Modify
                                </div>
                            </div>

                            <div class="form-group"><label for="descr" class="col-lg-5 control-label">Reporter Management:</label>
                                <div class="col-lg-7">
                                <input type="checkbox" name="rread" value="r" id="rread"> Read &nbsp; &nbsp; &nbsp;
                                <input type="checkbox" name="rmodify" value="w" id="rmodify"> Modify
                                </div>
                            </div>
                            <div class="form-group"><label for="descr" class="col-lg-5 control-label">Distribution Point Mgmt:</label>
                                <div class="col-lg-7">
                                <input type="checkbox" name="dpread" value="r" id="rread"> Read &nbsp; &nbsp; &nbsp;
                                <input type="checkbox" name="dpmodify" value="w" id="rmodify"> Modify
                                </div>
                            </div>
                            <div class="form-group"><label for="descr" class="col-lg-5 control-label">Reports:</label>
                                <div class="col-lg-7">
                                <input type="checkbox" name="rptread" value="r" id="rptread"> Read
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-5 col-lg-7">
                                    <button class="btn btn-sm btn-primary" type="submit">Save Group</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- END RIGHT -->
        </div>
    </form>
    <!-- DATA TABLE -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Distribution Points</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in groups %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ d.name }} </td>
                                        <td>{{ d.descr }}</td>
                                        <td>
                                            <a href="/groups?ed={{ d.id }}" class="" value={{ d.id }}><i class="fa fa-edit"></i></a>
                                                                &nbsp;&nbsp;&nbsp;
                                            <a href="/groups?d_id={{d.id }}&page={{ page }}"  class="gwe" value={{ d.id }}><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATA TABLE -->
{% endblock %}

{% block scripts %}
    {% call myscripts() %}
        <!-- Data Tables -->
        <script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.responsive.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.tableTools.min.js"></script>

        <script src="/static/js/plugins/bootstrap-validator/dist/validator.min.js"></script>
        <script src="/static/js/llin/dpoints.js"></script>
        <script>
           $(document).ready(function() {
            $('.dataTables-example').DataTable({
                "dom": 'lTfigt',
                "tableTools": {
                    "sSwfPath": "/static/js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                }
            });

        });
        </script>
    {% endcall %}
{% endblock %}


