{% extends "layout.html" %}
{% from 'layout.html' import navbar, myscripts, busted, err %}

{% block title %}LLIN.::.Warehouse Data{% endblock%}
{% block stylesheets %}
    <!-- Data Tables -->
    <link href="/static/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
    <link href="/static/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="/static/js/plugins/Buttons-1.1.2/css/buttons.dataTables.min.css" rel="stylesheet">

    <!-- Sweet Alert -->
    <link href="/static/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
{% endblock %}

{% block nav %}
    {% call navbar() %}

    {% endcall %}
{% endblock %}

{% block content %}
    {% if ses.role in ('Administrator', 'Warehouse Manager') %}
    {{ err(ses.wdata_err)}}
    <form role="form" id="wform" class="form-horizontal" data-toggle="validator" action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
            <!-- LEFT -->
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Warehouse Data Form</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="form-group"><label for="po_number" class="col-lg-5 control-label">PO Number:</label>
                                    <div class="col-lg-7">
                                    <input name="po_number" id="po_number" type="text" value="{{ po_number }}" required class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group"><label for="funding_source" class="col-lg-5 control-label">Funding Source:</label>
                                    <div class="col-lg-7">
                                    <select name="funding_source" id="funding_source" class="form-control" required>
                                        <option value="">Select Funding Source</option>
                                        {% for f in funding_sources %}
                                            <option value="{{ f.id }}" {%if f.id == funding_source%}selected="yes"{% endif %}>{{ f.name }}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group"><label for="manufacturer" class="col-lg-5 control-label">Manufacturer:</label>
                                    <div class="col-lg-7">
                                    <select name="manufacturer" id="manufacturer" class="form-control" required>
                                        <option value="">Select Manufacturer</option>
                                        {% for m in manufacturers %}
                                            <option value="{{ m.id }}" {%if m.id == manufacturer %}selected="yes"{% endif %}>{{ m.name }}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group"><label for="made_in" class="col-lg-5 control-label">Made In:</label>
                                    <div class="col-lg-7">
                                        <select name="made_in" id="made_in" class="form-control" required>
                                            <option value="">Select Country</option>
                                            {% for c in countries%}
                                                <option value="{{c.id}}" {%if c.id == made_in %}selected="yes"{% endif %}>{{ c.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label for="batch_number" class="col-lg-5 control-label">Batch Number:</label>
                                    <div class="col-lg-7">
                                        <input name="batch_number" id="batch_number" type="text" value="{{ batch_number }}" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group"><label for="nets_type" class="col-lg-5 control-label">Nets Type:</label>
                                    <div class="col-lg-7">
                                        <select name="nets_type" id="nets_type" class="form-control">
                                            <option value="">Select Nets Type</option>
                                            {% for t in ('Olyset', 'Olyset Plus', 'PermaNet 2.0', 'TBA') %}
                                                <option value="{{t}}" {% if t == nets_type %} selected="yes" {% endif%}>{{t}}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label for="nets_color" class="col-lg-5 control-label">Nets Color:</label>
                                    <div class="col-lg-7">
                                        <select name="nets_color" id="nets_color" class="form-control">
                                            <option value="">Select Color</option>
                                            {% for color in ('Blue', 'Green', 'White') %}
                                                <option value="{{color}}" {% if color == nets_color %} selected="yes" {% endif%}>{{color}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label for="nets_size" class="col-lg-5 control-label">Nets Size:</label>
                                    <div class="col-lg-7">
                                        <input name="nets_size" id="nets_size" type="text" value="{{ nets_size }}" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group"><label for="quantity" class="col-lg-5 control-label">Quantity (Bales):</label>
                                    <div class="col-lg-7">
                                        <input name="quantity" id="quantity" type="number" value="{{quantity }}" required
                                        pattern="^\d+$" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group"><label for="waybill" class="col-lg-5 control-label">Waybill:</label>
                                    <div class="col-lg-7">
                                        <input name="waybill" id="waybill" type="text" value="{{ waybill }}" required class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group"><label for="grn" class="col-lg-5 control-label">Goods Received Note:</label>
                                    <div class="col-lg-7">
                                        <input name="goods_received_note" id="grn" type="text" value="{{ goods_received_note }}"
                                            required class="form-control"/>
                                    </div>
                                </div>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END LEFT -->

            <!-- RIGHT -->
            <div class=" col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Warehouse Data Form</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <!--
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                            -->
                        </div>
                    </div>
                    <div class="ibox-content">
                            <div class="form-group"><label for="warehouse" class="col-lg-5 control-label">Warehouse Name:</label>
                                <div class="col-lg-7 input-group">
                                    <select name="warehouse" id="warehouse" class="form-control" required>
                                        <option value="">Select Warehouse </option>
                                        {% for w in warehouses %}
                                            <option value="{{ w.id}}" {%if w.id == warehouse %}selected="yes"{% endif%}>{{ w.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                           <div class="form-group"><label for="warehouse_branch" class="col-lg-5 control-label">Warehouse Branch:</label>
                                    <div class="col-lg-7 input-group">
                                        <select name="warehouse_branch" id="warehouse_branch" class="form-control" required>
                                            <option value="">Select Warehouse Branch</option>
                                            {% for b in branches %}
                                                <option value="{{ b.id}}" {%if b.id == warehouse_branch %}selected="yes"{% endif%}>{{ b.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                            </div>
                            <div class="form-group"><label for="sub_warehouse" class="col-lg-5 control-label">Sub Warehouse:</label>
                                <div class="col-lg-7 input-group">
                                <input name="sub_warehouse" id="sub_warehouse" type="text" value="{{ sub_warehouse }}" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group"><label for="entry_date" class="col-lg-5 control-label">Entry Date:</label>
                                <div class="col-lg-7 input-group date">
                                     <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                     <input name="entry_date" id="entry_date" type="text" value="{{ entry_date }}" required
                                     placeholder="YYYY-MM-DD" readonly class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group"><label for="nda_samples" class="col-lg-5 control-label">NDA Samples:</label>
                                <div class="col-lg-7 input-group">
                                    <input name="nda_samples" id="nda_samples" type="text" value="{{ nda_samples }}"
                                    pattern="^\d+$" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group" id=""><label for="nda_sampling_date" class="col-lg-5 control-label">NDA Sampling Date:</label>
                                <div class="col-lg-7 input-group date">
                                     <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                     <input name="nda_sampling_date" id="nda_sampling_date" type="text" value="{{ nda_sampling_date }}"
                                     placeholder="YYYY-MM-DD" readonly class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group"><label for="nda_conditional_release_date" class="col-lg-5 control-label">Date of Conditional Release:</label>
                                <div class="col-lg-7 input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input name="batch_number" id="nda_conditional_release_date" type="text" value="{{ nda_conditional_release_date }}"
                                    placeholder="YYYY-MM-DD" readonly class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group"><label for="nda_testing_result_date" class="col-lg-5 control-label">Date of NDA Testing Result:</label>
                                <div class="col-lg-7 input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input name="nda_testing_result_date" id="nda_testing_result_date" type="text" value="{{ nda_testing_result_date}}"
                                    placeholder="YYYY-MM-DD" readonly class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group"><label for="unbs_sampling_date" class="col-lg-5 control-label">Date of UNBS Sampling:</label>
                                <div class="col-lg-7 input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input name="unbs_sampling_date" id="unbs_sampling_date" type="text"
                                    value="{{ unbs_sampling_date }}" placeholder="YYYY-MM-DD" readonly class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group"><label for="unbs_samples" class="col-lg-5 control-label">UNBS Samples:</label>
                                <div class="col-lg-7 input-group">
                                    <input name="unbs_samples" id="unbs_samples" type="text" value="{{ unbs_samples }}"
                                    pattern="^\d+$" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group"><label for="remarks" class="col-lg-5 control-label">Remarks:</label>
                                <div class="col-lg-7 input-group">
                                    <textarea name="remarks" id="remarks" class="form-control">{{ remarks }}</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-7 col-sm-offset-5">
                                    <button class="btn btn-primary" type="submit">Save</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- END RIGHT -->
        </div>
    </form>
    <!-- DATA TABLE -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Warehouse Data</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>PO Number</th>
                                    <th>Funding Source</th>
                                    <th>Manufacturer</th>
                                    <th>Made In</th>
                                    <th>Qty(Bales)</th>
                                    <th>Qty(Nets)</th>
                                    <th>Waybill</th>
                                    <th>Warehouse</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in warehousedata %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ d.po_number }}</td>
                                        <td>{{ d.funding_source_name }}</td>
                                        <td>{{ d.manufacturer_name }}</td>
                                        <td>{{ d.made_in }}</td>
                                        <td>{{ d.quantity_bales }}</td>
                                        <td>{{ d.quantity }}</td>
                                        <td>{{ d.waybill }}</td>
                                        <td>{{ d.warehouse }}</td>
                                        <td>
                                            <a href="/warehousedata?ed={{ d.id }}" class="btn btn-info btn-xs" value={{ d.id }}>
                                                <i title="Edit" class="fa fa-edit"></i></a>
                                            &nbsp;&nbsp;
                                            <button class="btn btn-danger btn-xs delete_btn" id={{ d.id}}><i class="fa fa-trash-o"></i></button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-white btn-xs details_btn" id="{{d.id}}" data-toggle="modal"
                                                data-target="#myModal2">
                                                 <i title="Details" class="fa fa-list-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATA TABLE -->
    <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Warehouse Data Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="modal_res">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        {{ busted() }}
    {% endif %}
{% endblock %}

{% block scripts %}
    {% call myscripts() %}
        <script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="/static/js/plugins/jeditable/jquery.jeditable.js"></script>

        <!-- Data Tables -->
        <script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.responsive.js"></script>
        <script src="/static/js/plugins/dataTables/dataTables.tableTools.min.js"></script>

        <script type="text/javascript" src="/static/js/plugins/Buttons-1.1.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/Buttons-1.1.2/js/buttons.flash.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/jszip.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/pdfmake.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/vfs_fonts.js"></script>
        <script type="text/javascript" src="/static/js/plugins/Buttons-1.1.2/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins/Buttons-1.1.2/js/buttons.print.min.js"></script>

        <!-- Jquery Validate -->
        <!--<script src="/static/js/plugins/validate/jquery.validate.min.js"></script>-->
        <script src="/static/js/plugins/bootstrap-validator/dist/validator.min.js"></script>

        <!-- Sweet alert -->
        <script src="/static/js/plugins/sweetalert/sweetalert.min.js"></script>

        <!-- Data picker -->
        <script src="/static/js/plugins/datapicker/bootstrap-datepicker.js"></script>

        <script src="/static/js/llin/warehouses.js"></script>

        <script>
           $(document).ready(function() {
            $('.dataTables-example').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                pageLength: 25
            });
            $('.input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "yyyy-mm-dd"
            });

            $('.delete_btn').click(function () {
                del_id = $(this).attr('id');
                table_row = $(this).closest('tr');
                swal({
                        title: "Are you sure?",
                        text: "Your will not be able to recover this data",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        cancelButtonText: "No, cancel plx!",
                        closeOnConfirm: false,
                        closeOnCancel: false },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.get(
                                '/warehousedata',
                                {d_id: del_id, caller: 'api'},
                                function(data){
                                    if (data.message == "success"){
                                        /* remove row from table */
                                        table_row.remove();
                                    };
                                },
                                'json'
                            );
                            swal("Deleted!", "Warehose data has been deleted." + del_id, "success");
                        } else {
                            swal("Cancelled", "Warehouse data details are safe :)", "error");
                            return false;
                        }
                    });
            });


        });
        </script>
    {% endcall %}
{% endblock %}


